.article {
  font-size: 1.6rem;
  color: var(--black);

  span {
    margin-bottom: 0.5em;
    display: block;
  }

  p, a {
    span {
      display: inline;
      margin-bottom: 0;
    }
  }

  img {
    padding-left: 2.5em;
    padding-bottom: 1.25em;
    float: right;
    display: block;
  }

  h2 {
    display: block;
  }

  &--pb {
    p:last-child {
      padding-bottom: 0;
    } 
  }

  li {
    display: flex;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      position: relative;
      margin-left: 4px;

      &::before {
        margin-top: 6px;
        margin-left: -12px;
        position: absolute;
        left: -4px;
      }
    }
  }

  @media (max-width: $md + px) {
    display: flex;
    flex-direction: column;

    img {
      float: none;
      padding-left: 0;
      width: 100%;
      max-height: 20em;
      object-fit: cover;
    }

    h2 {
      padding-bottom: 1em;
    }

    &--title_first {
      ul, h3, h4, h5, h6, p, a, span, ol, img {
        order: 2;
      }

      h2 {
        order: 0;
        padding-bottom: 2em;
      }

      img:first-child {
        order: 1;
      }
    }
  }
}