.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;

  &__item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__icon {
    fill: var(--green);
    margin-right: 10px;
  }
}

a.header-contacts__item {
  span {
    transition: color .3s;
  }

  &:hover {
    span {
      color: var(--green);
    }
  }
}