.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &--main {
    height: calc(100vh - 140px);
    min-height: 60em;

    @media (max-width: $lg + px) {
      height: calc(100vh - 112px - 60px);
      min-height: 57em;
    }

    h1 {
      margin-bottom: 60px;

      @media (max-width: $md + px) {
        margin-bottom: 30px;
      }
    }
  }

  &__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/hero/background.png");
  }

  &__video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    object-fit: cover;
  }

  &__content {
    z-index: 1;
    position: relative;
  }

  &__row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $sm + px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(#000, .25);
    border: 1px solid var(--green-light);
    height: 12em;
    padding: 1em .85em;

    @media (max-width: $md + px) {
      height: auto;
    }
  }

  &__text {
    color: var(--white);
    text-align: center;
    margin-top: 10px;
  }

  &__btn {
    margin-top: 60px;

    @media (max-width: $sm + px) {
      margin-top: 30px;
      font-size: 1.4rem;
    }

    @media (max-width: $xx + px) {
      height: 3.85em;
      width: 100%;
    }

    @media (max-width: $less + px) {
      padding: 0 1em;
      font-size: 1.2rem;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    @media (max-width: $md + px) {
      width: 40px;
      height: 40px;
    }
  }
}