label {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.1em 1.25em;
  background: var(--white);
  border: 1px solid var(--grey);
  font-family: 'OpenSans', serif;
  resize: none;
  transition: box-shadow .2s, border-color .2s;

  &:focus {
    border-color: var(--dark-blue);
    box-shadow: 0px 1px 10px rgba(0, 10, 97, 0.2);
    outline: none;
  }

  &-icon {
    position: relative;
    display: flex;

    &__input {
      padding-left: 3.375em;
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: 2.4em;

      &--green {
        fill: var(--green);
      }
    }

    &.error {
      .input-icon__icon {
        top: 33%;
      }
    }
  }

  &-file {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--grey-light);
    border: 1px solid var(--grey);
    padding: 1.6em 2.4em;

    &__icon {
      margin-left: 1em;
    }

    &__text {
      color: #757575;
    }

    &__input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      height: 100%;
    }
  }
}

textarea.input {
  height: 84px;
}

.error {
  &__text {
    display: none;
    margin-top: 0.5em;
  }

  & .error__text {
    display: block;
  }

  & input, & textarea {
    &, &:focus {
      border-color: var(--red);
      box-shadow: 0px 1px 10px rgba(211, 36, 32, 0.2);
    }
  }
}