label {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.1em 1.25em;
  background: var(--white);
  border: 1px solid var(--grey);
  font-family: 'OpenSans', serif;
  resize: none;
  transition: box-shadow .2s, border-color .2s;

  &-label {
    &__text {
      margin-bottom: 8px;
    }
  }

  &[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &:focus {
    border-color: var(--dark-blue);
    box-shadow: 0px 1px 10px rgba(0, 10, 97, 0.2);
    outline: none;
  }

  &-icon {
    position: relative;
    display: flex;

    &__input {
      padding-left: 3.375em;
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: 2.4em;

      &--green {
        fill: var(--green);
      }
    }

    &.error {
      .input-icon__icon {
        top: 33%;
      }
    }
  }

  &-file {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--grey-light);
    border: 1px solid var(--grey);
    padding: 1.6em 2.4em;
    height: 5.4em;

    &__icon {
      margin-left: 1em;

      @media (max-width: $less + px) {
        width: 1.6em;
        height: 1.6em;
        margin-left: 0.8em;
      }
    }

    &__text {
      color: #757575;

      @media (max-width: $less + px) {
        font-size: 1.3rem;
      }
    }

    &__input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      height: 100%;
    }
  }

  @media (max-width: $sm + px) {
    padding: 1em .625em;

    &-icon {
      &__input {
        padding-left: 3.375em;
      }
    }

    &-file {
      padding: 1em;
  
      &__icon {
        margin-left: 1em;
      }
    }
  }

  @media (max-width: $less + px) {
    &-file {
      padding: .8em;
    }
  }
}

textarea.input {
  height: 114px;
}

.error {
  &__text {
    display: none;
    margin-top: 0.5em;
  }

  & &__text {
    display: block;
  }

  & input, & textarea {
    &, &:focus {
      border-color: var(--red);
      box-shadow: 0px 1px 10px rgba(211, 36, 32, 0.2);
    }
  }
}

input.invalid {
  &, &:focus {
    border-color: var(--red);
    box-shadow: 0px 1px 10px rgba(211, 36, 32, 0.2);
  }
}

.check {
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;

  &__box {
    width: 19px;
    height: 19px;
    border: 1px solid var(--grey);
    background: var(--white);
    margin-right: 10px;
    flex-basis: 19px;
    margin-top: 1px;
    position: relative;
    transition: background .2s, border-color .2s;
  }

  &__input:checked + &__box {
    background: var(--green);
    border-color: var(--green);
  }

  &__text {
    flex: 1 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--white);
  }
}

.radio {
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;

  &__box {
    width: 19px;
    height: 19px;
    border: 1px solid var(--grey);
    background: var(--white);
    margin-right: 10px;
    flex-basis: 19px;
    margin-top: 1px;
    position: relative;
    border-radius: 50%;
    transition: background .2s, border-color .2s;
  }

  &__input:checked + &__box {
    background: var(--green);
    border-color: var(--green);
  }

  &__text {
    flex: 1 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--white);
  }
}

input:disabled, textarea:disabled {
  background: var(--grey-light);
}