.logo {
  width: 18.4em;
  height: 10em;
  display: flex;

  @media (max-width: $md + px) {
    width: 14.6em;
    height: 7.9em;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}