.lower-menu {
  display: none;
}

.main-menu {
  flex: 1 1;

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -0.75em;
    margin-right: -0.25em;
  }

  &__item {
    margin-left: 0.437em;
    margin-right: 0.437em;
    position: relative;

    &::before {
      display: none;
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background: var(--green);
      position: absolute;
      bottom: 58px;
      left: 0;
      transition: width .2s linear;
    }

    &--active {
      &::after {
        width: 100%;
      }
    }

    &:hover {
      &::after {
        width: 100%;
      }

      .main-menu__sub-menu {
        opacity: 1;
        top: 100%;
        visibility: visible;
        transition: top .3s, opacity .3s, visibility 0ms;

        @media (max-width: $lg + px) {
          top: 0;
        }
      }

      .main-menu__icon {
        transform: rotateX(0);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.6rem;
    height: 8.75em;
    color: var(--black);
    white-space: nowrap;
    transition: color .2s, background .2s;
  }

  &__icon {
    margin-bottom: 1px;
    transform: rotateX(180deg);
    transition: fill .2s, transform .2s;
  }

  &__sub-menu {
    width: 350px;
  }

  @media (max-width: $lg + px) {
    display: flex;
    width: 100%;

    &__list {
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }

    &__item {
      margin-right: 0;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      cursor: pointer;

      &:hover {
        &::after {
          width: 0; 
        }
      }

      &:hover, &.main-menu__item--active {
        .main-menu__link {
          background: var(--green-light);
        }
      }

      &--many {
        &.main-menu__item--open {
          .main-menu__link {
            color: var(--white);
            background: var(--green-light);
          }

          .main-menu__icon {
            fill: var(--white);
            transform: rotateX(0);
          }

          &:hover {
            .main-menu__icon {
              transform: rotateX(0);
            }
          } 
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: auto;
          height: 41px;
          width: 50px;
          z-index: 8;
          background: transparent;
        }

        &:hover {
          &::after {
            width: 50px;
          }

          .main-menu__icon {
            transform: rotateX(180deg);
          }
        } 
      }
    }

    &__link {
      height: auto;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 10px 15px;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}