.lower-menu {
  display: none;
}

.main-menu {
  flex: 1 1;

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -0.75em;
    margin-right: -0.25em;
  }

  &__item {
    margin-left: 0.437em;
    margin-right: 0.437em;
    position: relative;

    &::before {
      display: none;
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background: var(--green);
      position: absolute;
      bottom: 58px;
      left: 0;
      transition: width .2s linear;
    }

    &:hover {
      &::after {
        width: 100%;
      }

      .main-menu__sub-menu {
        opacity: 1;
        top: 100%;
        visibility: visible;
        transition: top .3s, opacity .3s, visibility 0ms;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.6rem;
    height: 8.75em;
    color: var(--black);
    white-space: nowrap;
  }

  &__icon {
    margin-bottom: 1px;
  }

  &__sub-menu {
    width: 350px;
  }
}