.product-item {
  box-shadow: var(--shadow-small);
  transition: transform .3s, box-shadow .3s;
  background: var(--white);
  border: 1px solid rgba(229, 229, 229, 0.3);
  text-decoration: none;

  &:hover {
    box-shadow: var(--shadow-big);
    transform: translateY(-2px);
  }

  &__img {
    width: 100%;
    max-height: 20em;
    object-fit: cover;
  }

  &__content {
    padding: 2em;
  }

  &__title {
    padding-bottom: 1.1em;
    box-sizing: content-box;
  }
}