.sub-menu {
  padding: 5px 0 0;
  z-index: 3;
  background: var(--white);
  border: 1px solid var(--grey-light);
  box-shadow: var(--shadow-big);
  list-style: none;
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: top .3s, opacity .3s, visibility 0ms .3s;
  display: block i !important;

  &__link {
    color: var(--black);
    font-size: 1.6rem;
    padding: 0.937em;
    display: block;
    border-bottom: 1px solid var(--grey-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color .3s;

    &:hover {
      color: var(--green);

      .sub-menu__icon {
        &::after, &::before {
          background: var(--green);
        }
      }
    }
  }

  &__item {
    &:last-child {
      .sub-menu__link {
        border-bottom: none;
      }
    }

    &::before {
      display: none;
    }

    &--open {
      .sub-menu__link {
        color: var(--green);
      }

      .sub-menu__icon {
        &::after, &::before {
          background: var(--green);
        }

        &::after {
          transform: rotate(-45deg);
        }
    
        &::before {
          transform: rotate(45deg);
        }
      }
    }

    &--active {
      .sub-menu__link {
        color: var(--green);
      }

      .sub-menu__icon {
        &::after, &::before {
          background: var(--green);
        }
      }
    }
  }

  &__icon {
    width: 10px;
    height: 6px;
    display: block;
    position: relative;

    &::after, &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 2px;
      width: 6px;
      background: var(--black);
      transition: transform .3s;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &__text {
    max-width: 280px;
  }

  @media (max-width: $lg + px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background: transparent;
    box-shadow: none;
    border: 1px solid var(--grey);
    display: none;

    &__link {
      justify-content: flex-end;
      padding: 10px 15px;
      border-bottom: 1px solid var(--grey);
    }

    &__icon {
      margin-left: 5px;
      margin-right: 3px;
      margin-top: 4px;
    }

    &__text {
      max-width: none;
      text-align: right;
    }
  }
}