section.breadcrums
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="index.html").breadcrumbs__link
          svg(width="22", height="22").breadcrumbs__icon
            use(href="#home")
          // .breadcrumbs__icon 
        // .breadcrumbs__link 
      // li.breadcrumbs__item 
    // ul.breadcrumbs__list 
  // .container 
// section.breadcrums 