ul.breadcrumbs
  li.breadcrumbs__item
    a(href="index.html").breadcrumbs__link
      | Главная
    // .breadcrumbs__link 
    svg(width="18", height="18").breadcrumbs__icon
      use(href="#arrow_right")
    // .breadcrumbs__icon 
  // .breadcrumbs__item 
  li.breadcrumbs__item
    a(href="index.html").breadcrumbs__link
      | Услуги
    // .breadcrumbs__link 
  // .breadcrumbs__item 
// .breadcrums 