section.hero
  .hero__video-wrapper
    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/hero/0.jpg").default, width="1920", height="240").hero__video.b-lazy
  // .hero__video-wrapper 
  .hero__content
    .container
      include /includes/breadcrumbs
      h1.h2.h2--pb.text--white.text--center
        | УСЛУГИ
      // .h1.text--white 
    // .container 
  // .hero__content 
// .hero 