label.input-file
  input(type="file").input-file__input
  .text.input-file__text Прикрепить файлы
  svg(width="20", height="20").input-file__icon
    use(href="#download")
  // .input-file__icon 
// .input-file 