nav.main-menu
  ul.main-menu__list
    li.main-menu__item.main-menu__item--active
      a(href="").main-menu__link
        | РАСЧЕТ СТОИМОСТИ
      // .main-menu__link 
    // .main-menu__item.main-menu__item--active 
    li.main-menu__item
      a(href="").main-menu__link
        | УСЛУГИ
        svg(width="25", height="25").main-menu__icon
          use(href="#arrow_up")
        // .main-menu__icon 
      ul.main-menu__sub-menu.sub-menu
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Раскрой металла
            // .sub-menu__text 
            span.sub-menu__icon
          ul.sub-menu__lower-menu.lower-menu
            li.lower-menu__item.lower-menu__item--active
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item.lower-menu__item--active 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
          // .sub-menu__lower-menu.lower-menu 
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Гибка металла
            // .sub-menu__text 
            span.sub-menu__icon
          ul.sub-menu__lower-menu.lower-menu
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
          // .sub-menu__lower-menu.lower-menu 
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Сварочные работы
            // .sub-menu__text 
            span.sub-menu__icon
          ul.sub-menu__lower-menu.lower-menu
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
            li.lower-menu__item
              a(href="#").lower-menu__link
                span.lower-menu__text
                  | Плазменная резка
                // .lower-menu__text 
              // .lower-menu__link 
            // .lower-menu__item 
          // .sub-menu__lower-menu.lower-menu 
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Вальцовка труб
            // .sub-menu__text
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Порошковая покраска
            // .sub-menu__text
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Штамповка металлических изделий
            // .sub-menu__text
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Разработка конструкторской документации
            // .sub-menu__text
          // .sub-menu__link 
        // .sub-menu__item 
        li.sub-menu__item
          a(href="").sub-menu__link
            span.sub-menu__text
              | Изготовление готовых конструкций
            // .sub-menu__text
          // .sub-menu__link 
        // .sub-menu__item 
      // .main-menu__sub-menu.sub-menu 
      // .main-menu__link 
    // .main-menu__item 
    li.main-menu__item
      a(href="").main-menu__link
        | ПРОДУКЦИЯ
      // .main-menu__link 
    // .main-menu__item 
    li.main-menu__item
      a(href="").main-menu__link
        | КОНТАКТЫ
      // .main-menu__link 
    // .main-menu__item 
  // .main-menu__list   
// main-menu 