.pagination
  .pagination__btn.pagination__btn--off
    svg(width="28", height="24").pagination__icon
      use(href="#double_arrow_left")
    // .pagination__icon 
  // .pagination__btn.pagination__btn--off 
  .pagination__btn.pagination__btn--off
    svg(width="24", height="24").pagination__icon
      use(href="#arrow_left")
    // .pagination__icon 
  // .pagination__btn.pagination__btn--off 
  .pagination__btn.pagination__btn--active
    span.pagination__text.text
      | 1
    // .pagination__text.text  
  // .pagination__btn.pagination__btn--active 
  a(href="").pagination__btn
    span.pagination__text.text
      | 2
    // .pagination__text.text  
  // .pagination__btn 
  a(href="").pagination__btn
    span.pagination__text.text
      | 3
    // .pagination__text.text  
  // .pagination__btn 
  a(href="").pagination__btn
    svg(width="24", height="24").pagination__icon
      use(href="#arrow_right")
    // .pagination__icon 
  // .pagination__btn
  a(href="").pagination__btn
    svg(width="28", height="24").pagination__icon
      use(href="#double_arrow_right")
    // .pagination__icon 
  // .pagination__btn 
// .pagination 