form.search-form
  input(type="text", placeholder="Поиск по каталогу продукции", required).search-form__input
  button(type="submit").search-form__btn.btn.btn--green
    span.search-form__text
      | НАЙТИ
    // .search-form__text 
    svg(width="20", height="20").search-form__icon
      use(href="#search")
    // .search-form__icon 
  // .search-form__btn 
// .search-form 