include /includes/services-item

section.section.section--grey.services
  .container
    h2.h2.h2--line_right.h2--lg
      | НАШИ УСЛУГИ
    // .h2.h2--line_right 
    .row.row--lg
      +services-item(0, "Раскрой металла")
      +services-item(1, "Гибка металла")
      +services-item(2, "Выездная сварка")
      +services-item(3, "Сварочные работы")
      +services-item(4, "Вальцовка труб")
      +services-item(5, "Порошковая покраска")
      +services-item(6, "Штамповка металлических изделий")
      +services-item(7, "Разработка конструкторской документации")
      +services-item(8, "Изготовление готовых конструкций")
    // .row.row--lg 
  // .container 
// .section.section--grey.services 