extends /common/layout

block content
  include /includes/hero

  section.section
    .container
      .row.row--xs
        form.contact-form
          h3.h3.h3--pb_md
            | НАПИШИТЕ НАМ
          // .h3.h3--pb_md 
          .contact-form__content
            .contact-form__row
              label.input-icon
                svg(width="20", height="20").input-icon__icon
                  use(href="#user")
                // .input-icon__icon 
                input(type="text", placeholder="Ваше имя").input.input-icon__input
                span.text.text--red.error__text *Неправильное имя
              // .input-icon 
              label.input-icon
                svg(width="20", height="20").input-icon__icon
                  use(href="#phone")
                // .input-icon__icon 
                input(type="text", placeholder="Ваш телефон").input.input-icon__input
                span.text.text--red.error__text *Неправильное имя
              // .input-icon 
            // .contact-form__row 
            textarea(name="message", placeholder="Cообщение").input
            .contact-form__row 
              include /includes/input-file
              button(type="submit").btn.btn--big.contact-form__btn Отправить
            // .contact-form__row  
          // .contact-form__content
        // .contact-form 
        .contact-information
          h3.h3.h3--pb_md
            | РЕКВИЗИТЫ
          // .h3.h3--pb_md 
          table.contact-table
            tr
              td
                .text ИНН
              td
                .text 7802613389
            tr
              td
                .text КПП
              td
                .text 780201001
            tr
              td
                .text ОГРН
              td
                .text 1177847075471
            tr
              td
                .text ОКПО
              td
                .text 06835881
            tr
              td
                .text РАСЧ. СЧЕТ
              td
                .text 40702810132260001781
            tr
              td
                .text БИК
              td
                .text 044030786
            tr
              td
                .text КОРР. СЧЕТ
              td
                .text 30101810600000000786
            tr
              td
                .text БАНК
              td
                .text ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"
          // .contact-table 
        // .contact-information 
      // .row.row--sm 
    // .container 
  // .section 

  section.section.map
    .map__item
      script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7e0757f484a4d65213701a06dddbf2ffbf5cff6491a9dd79285b59edb489f5e2&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false")
    // .map__item 
    .container
      .map__content
        h4.h4.map__title
          | Санкт-Петербург
        // .h4.map__title 
        .icon-list
          .icon-list__item.text
            svg(width="20", height="20").icon-list__icon
              use(href="#location")
            // .icon-list__icon 
            span.icon-list__text
              | г. Санкт-Петербург
            // .icon-list__text 
          // .icon-list__item 
          a(href="mailto:comfo@mail.ru").icon-list__item.text
            svg(width="20", height="20").icon-list__icon
              use(href="#email")
            // .icon-list__icon
            span.icon-list__text
              | comfo@mail.ru
            // .icon-list__text  
          // .icon-list__item 
          a(href="tel:+78007007067").icon-list__item.text
            svg(width="20", height="20").icon-list__icon
              use(href="#telephone")
            // .icon-list__icon
            span.icon-list__text
              | +7 (800) 700 70 67
            // .icon-list__text 
          // .icon-list__item 
        // .icon-list 
      // .map__content 
    // .container 
  // .section.map 